@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../../../fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNova-Reg";
    src: url("../../../fonts/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNova-Sbold";
    src: url("../../../fonts/ProximaNova-Sbold.otf") format("opentype");
}