#home {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../images/main_background/background.png");
    background-size: cover;
    background-position: 100% 100%;
    overflow: hidden;
    
    .horizontal-center {
        display: flex;
        justify-content: flex-start;
        height: inherit;
        
        .vertical-center {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-family: "ProximaNova-Bold";
                font-size: 6.8rem;
                margin-left: 9rem;

                &:nth-child(2) {
                    margin-top: -2rem;
                }
            }

            p {
                font-family: "ProximaNova-Reg";
                font-size: 1.2rem;
                color: #a0a0a0;
                margin-left: 9.38rem;
            }
        }
    }
}