#projects {
    overflow: hidden;
    
    h1 {
        padding-top: 3rem;
        font-size: 5.4rem;
        font-family: "ProximaNova-Bold";
        margin-left: 9rem;
    }

    .BrainhubCarousel__container {
        margin-top: 2.6rem;

        .BrainhubCarousel {

            .BrainhubCarousel__trackContainer {

                ul {
                    
                    li {

                        .carousel-item {
                            padding-right: 2rem;

                            .title {
                                font-size: 1.5rem;
                                text-align: left;
                                font-family: "ProximaNova-Reg";
                                margin: 1.5rem 0;
                            }

                            .image-container {
                                
                                position: relative;

                                img {
                                    max-width: 100%;
                                    filter: drop-shadow(5px 10px 8.5px black);
                                }

                                .image-overlay {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    bottom: 0;
                                    height: 100%;
                                    width: 100%;
                                    opacity: 0;
                                    transition: 0.5s ease;
                                    background-color: black;

                                    .description {
                                        color: white;
                                        font-size: 1.3rem;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        text-align: center;
                                        font-family: "ProximaNova-Reg";
                                    }
                                }

                                &:hover {
                                    .image-overlay {
                                        opacity: 1;
                                    }
                                }
                            }

                            .link {
                                margin-top: 2.2rem;
                                text-align: center;
                                padding-bottom: 2rem;
                                
                                a {
                                    color: rgb(88, 118, 252);
                                    font-family: "ProximaNova-Reg";
                                    font-size: 1.15rem;
                                    
                                    &:visited {
                                        color: rgb(150, 43, 150);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .BrainhubCarousel__dots {
        margin-top: 3rem;
        opacity: 1;
        background-color: white;

        .BrainhubCarousel__dot {
            background: white;
            padding: 0 7px;

            &::before {
                width: 6px;
                height: 6px;
            }
        }
    }
}